body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1a1a1a;
    color: #fff;
}

.quiz-container {
    margin: 0 auto;
    max-width: 600px;
    background-color: #08e600;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: #fff;
}

#question-container {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}

#question {
    font-size: 18px;
    color: #333;
}

#options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    padding: 10px;
    background-color: #08e600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #08e600;
}

#result {
    display: none;
    margin-top: 20px;
}

#ben10-image {
    width: 150px;
    height: 150px;
}

#message {
    font-size: 18px;
    margin-top: 10px;
    color: #08e60079;
}
